<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Resume Analyzer</title>

    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <div id="particles"></div>

    <div class="container">
        <div class="theme-switch">

            <input
                type="checkbox"
                id="themeToggle"
            >

            <label
                for="themeToggle"
                class="slider"
            ></label>

        </div>

        <div class="header">

            <h1>AI Resume Analyzer</h1>
            <p>Upload your resume and get AI-powered feedback.</p>
        </div>

        <div class="upload-section">

        <div class="upload-box">

            <p style="font-size:18px; margin-bottom:15px;">
            📄 Upload Resume PDF
             </p>

            <input
                type="file"
                 id="resumeFile"
                accept=".pdf,application/pdf"
            >

        </div>

    <textarea
        id="jobDescription"
        placeholder="Paste Job Description Here (Optional)"
    ></textarea>

    <div class="button-group">

        <button id="analyzeBtn">
            📊 Analyze Resume
        </button>

        <button id="improveBtn">
            ✨ Improve Resume
        </button>

        <button id="downloadBtn">
            📥 Download Improved Resume PDF
        </button>

    </div>

</div>
        <div id="loadingBox" class="loading-box" style="display:none;">

    <div class="loader"></div>

    <h3>Analyzing Resume...</h3>

    <p id="loadingText">
        Extracting resume content...
    </p>

</div>
        <div id="result"></div>

        <div id="improvedResume"></div>

    </div>



    <script src="/static/script.js"></script>

</body>

</html>